@font-face
{
    font-family: "Playfair Black";
    src: url("./assets/fonts/PlayfairDisplay-Black.ttf");
}

@font-face
{
    font-family: "Playfair Regular";
    src: url("./assets/fonts/PlayfairDisplay-Regukar.ttf");
}

#full-box {
    border: 5px solid black;
    padding: 5px 50px 5px;
    background: white; 
    
}

html
{
    padding: 50px;
    margin: 0px;
    color: black; 
    background: grey;
}

body
{
    max-width: 800px;
    margin: auto;
}

a
{
    text-decoration: none;
    color: inherit; 
    font-family: inherit;
}

ul 
{
    padding: 1px 1px 0px 0px;
    margin: 10px;
}

.download 
{
    padding: 5px 10px;
    background: #ffffff;
    color: black; 
    display: inline-block;
    margin: 4px;
    border: 3px solid black;
}

.download:hover 
{
    color: white;
    border: 3px solid white;
    background: black;
    
}

li
{
    padding: 5px; 
    list-style: none;
}

h1
{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline-block; 
    
}

p
{
    font-family: serif;
    text-emphasis: true;
}

hr
{
    background: #000; 
    border: 0; 
    color: #000;
    height: 3px;
}

footer
{
    text-align: center;
    font-size: 0.8rem;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    color: black; 
}

@media only screen and (max-width: 550px)
{
    .icon
    {
        display: block;
        margin: 60px 0 20px 0;
    }

    .logo
    {
        width: calc(100% - 20px);
    }
}