@font-face
{
    font-family: "Bluu";
    src: url("./assets/fonts/bluu.ttf");
}

@keyframes download 
{
    0%, 49%
    {
        background: black;
        color: white;
        border-color: white;
    }
    50%, 100%
    {
        background: white;
        color: black;
        border-color: black;
    }
}

html
{
    padding: 50px 10px;
    margin: 0px;
    color: black;
    
    background-image: url(assets/background.png); 
    background-repeat: repeat; 
    background-attachment: fixed; 
    background-size: 12px;
}

body
{
    max-width: 1000px;
    margin: auto;
    text-align: left; 
}

#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    background-size: contain;
    z-index: 1000;
}

h1
{
    display: none;
}

h2
{
    font-family: "Bluu";
    font-size: 6rem;
    word-break: break-all;
    margin: 0;
    font-style: normal;
}

a
{
    text-decoration: none;
    font-style: normal;
    letter-spacing: 5px;
    color: inherit; 
    font-family: inherit;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

.container
{
    display: grid;
    grid-template-columns: auto 50px auto;
    grid-template-rows: 300px auto auto;
    border: 5px solid black;
}

#logo
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    border: 5px solid black;
    background-image: url(assets/concrete.png), url(assets/texture.jpg);
    background-size: contain, cover;
}

.section
{
    padding: 10px;
    background: white;
    border: 5px solid black;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    font-family: Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#pres
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 80px;
}

#pres:hover
{
    background-color: blue; 
    color: white;
}

#report
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

#report:hover
{
    background-color: red; 
    color: white;
}

#credit
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#credit:hover
{
    background-color: green; 
    color: white;
}

.download 
{
    padding: 0px;
    background: white;
    color: black; 
    border: 6px solid black;
    margin: 50px 5px 0px 5px;
}

.section:hover .download
{
    animation: download 0.4s infinite; 
}


@media only screen and (max-width: 600px)
{
    h2
    {
        font-size: 5rem;
    }
    
    #overlay
    {
        display: none;
    }
    
    .container
    {
        grid-template-columns: auto;
        grid-template-rows: 300px auto auto auto auto auto;
    }

    #logo
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #pres
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: blue; 
        color: white;
    }

    #report
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: red; 
        color: white;
        padding-bottom: 80px;
    }

    #credit
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: green; 
        color: white;
    }
}